<p>Welcome <%= @email %>!</p>

<p>You can confirm your <a href="https://www.synura.com">Synura</a> account email through the link below:</p>

<p><%= link_to 'Confirm my account', "#{ENV["FRONTEND_URI"]}/users/confirmation?confirmation_token=#{@token}" %></p>
