<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your <a href="https://www.synura.com">Synura</a> password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', "#{ENV["FRONTEND_URI"]}/new-password?reset_password_token=#{@token}" %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
