* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: Poppins sans-serif;
  display: flex;
  justify-items: stretch;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
  color: var(--color-nu-100);
}

.Header {
  font-family: Poppins sans-serif;
  gap: var(--spacing-lg);
  color: var(--color-nu-100);
}

body {
  background: var(--color-nu-30);
  min-height: 100vh;
}

@media only screen and (min-width: 1080px) {
  .hide-xsmall {
    display: inherit;
  }
  .hide-small {
    display: inherit;
  }
  .hide-large {
    display: none;
  }
}

@media only screen and (max-width: 1079px) and (min-width: 800px) {
  .hide-xsmall {
    display: inherit;
  }
  .hide-small {
    display: none;
  }
  .hide-large {
    display: inherit;
  }
}

@media only screen and (max-width: 800px) {
  .hide-xsmall {
    display: none;
  }
  .hide-small {
    display: none;
  }
  .hide-large {
    display: inherit;
  }

  table thead {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    visibility: none;
  }

  table tr {
    display: block;
  }

  table td {
    display: block;
  }
}

.App a:link,
.App a:visited,
.Header a:link,
.Header a:visited {
  text-decoration: none;
  color: var(--color-brand-primary-100);
}

:root {
  --spacing-xs: 5px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 25px;
  --spacing-xxl: 35px;

  --radius-sm: calc(var(--spacing-sm) / 2);
  --radius-md: var(--spacing-sm);
  --radius-lg: var(--spacing-md);
  --radius-xl: var(--spacing-lg);
  --radius-full: 100%;

  --radius-brand-lg: var(--radius-lg) 0 var(--radius-lg) 0;
  --radius-brand-xl: var(--radius-xl) 0 var(--radius-xl) 0;

  --gradient-brand: -webkit-linear-gradient(to right, var(--color-brand-primary-100), var(--color-brand-secondary-100));

  --color-nonprod-header: #00489a;

  --color-brand-primary-100: #ff4e2d;
  --color-brand-primary-90: #bf3821;
  --color-brand-secondary-100: #3d0634;
  --color-brand-secondary-90: #090014;
  --color-brand-tertiary: #f8ce62;
  --color-brand-coolgray: #1e1e23;

  --color-gradient-10: #ff4e2d;
  --color-gradient-20: #ed3065;
  --color-gradient-30: #ea32d0;
  --color-gradient-40: #6c34e8;
  --color-gradient-50: #6087d5;
  --color-gradient-60: #32e5ea;
  --color-gradient-70: #34e85a;
  --color-gradient-80: #b2e535;
  --color-gradient-90: #e2c137;

  --gradient-10: linear-gradient(to right, var(--color-gradient-10), var(--color-gradient-20));
  --gradient-20: linear-gradient(to right, var(--color-gradient-20), var(--color-gradient-30));
  --gradient-30: linear-gradient(to right, var(--color-gradient-30), var(--color-gradient-40));
  --gradient-40: linear-gradient(to right, var(--color-gradient-40), var(--color-gradient-50));
  --gradient-50: linear-gradient(to right, var(--color-gradient-50), var(--color-gradient-60));
  --gradient-60: linear-gradient(to right, var(--color-gradient-60), var(--color-gradient-70));
  --gradient-70: linear-gradient(to right, var(--color-gradient-70), var(--color-gradient-80));
  --gradient-80: linear-gradient(to right, var(--color-gradient-80), var(--color-gradient-90));
  --gradient-90: linear-gradient(to right, var(--color-gradient-90), var(--color-gradient-10));

  --gradient-info: var(--gradient-40);
  --gradient-warning: linear-gradient(to right, var(--color-gradient-90), var(--color-gradient-20));
  --gradient-danger: linear-gradient(to right, var(--color-gradient-10), var(--color-gradient-30));
  --gradient-success: linear-gradient(to right, var(--color-gradient-60), var(--color-gradient-80));

  --color-nu-0: #000000;
  --color-nu-10: #1e1e23;
  --color-nu-20: #25252d;
  --color-nu-30: #2d2d35;
  --color-nu-40: #404047;
  --color-nu-50: #777777;
  --color-nu-60: #bbbbbb;
  --color-nu-70: #d8d2d0;
  --color-nu-80: #eeeeee;
  --color-nu-90: #f3eeeb;
  --color-nu-100: white;

  --color-danger-100: #cb1b1b;
  --color-warning-100: #f5b73d;
  --color-success-100: #95d62b;
  --color-info-100: #2b57f1;

  --shadow-10: 0px 1px 2px -1px rgba(0, 0, 0, 0.2), 0px 1px 10px -5px rgba(0, 0, 0, 0.5);
  --shadow-20: 0px 1px 2px -1px rgba(0, 0, 0, 0.2), 0px 2px 20px -5px rgba(0, 0, 0, 0.5);

  --sidebar-right: 340px;
}

.dropdown {
  position: relative;
}
